.microplanning {
    .upload {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
    }

    .upload-section-option {
        min-width: 203px;
        min-height: 514px;
        background-color: #FFFFFF;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        padding: 10px;
        box-shadow: 0px 1px 2px 0px #00000029;
    }

    .upload-section-options-active {
        min-height: 59px;
        display: flex;
        align-items: center;
        border-bottom: 1px rgba(214, 213, 212, 1) solid;
        cursor: pointer;
        border-right: 5px solid rgba(244, 119, 56, 1);
        background-color: rgba(244, 119, 56, 0.12);

        p {
            color: rgba(80, 90, 95, 1);
            font-weight: 400;
            font-size: 16px;
        }
    }

    .upload-section-options-inactive {
        min-height: 59px;
        display: flex;
        align-items: center;
        border-bottom: 1px rgba(214, 213, 212, 1) solid;
        cursor: pointer;
        border-right: none;
        background-color: rgba(255, 255, 255, 1);

        p {
            color: rgba(80, 90, 95, 1);
            font-weight: 400;
            font-size: 16px;
        }
    }

    .upload-component {
        min-width: 80%;
        height: min-content;
        border-radius: 4px;
        padding: 24px;
        background-color: rgba(255, 255, 255, 1);
        margin: 0;
        margin-right: 15px;
        padding-bottom: 10px;
    }

    .upload-component-active {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

        .greyedout-name {
            color: rgba(177, 180, 182, 1);
            margin: 0 10px;
            font-size: 20px;
            padding-top: 0px;
            font-weight: 500;
        }

        h2 {
            margin-top: 10px;
            font-size: 40px;
            margin: 0 10px;
            font-weight: 700;
        }

        p {
            margin: 0 10px;
            padding-top: 10px;
            font-size: 16px;
            font-weight: 400;
        }

    }

    .upload-component-inactive {
        display: none;
    }

    .upload-option-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        flex-wrap: wrap;
    }

    .upload-option {
        border-radius: 4px;
        border: 1px rgba(214, 213, 212, 1) solid;
        min-width: 200px;
        min-height: 140px;
        box-shadow: 0 1px rgba(0, 0, 0, 0.16);
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin : 0 20px;
        margin-top: 15px;
        cursor: pointer;

        &:hover {
            border: 1px rgba(244, 119, 56, 1) solid;
            box-shadow: 3px 3px 9.11px 0px rgba(244, 119, 56, 0.25);
            color: rgba(244, 119, 56, 1);
            margin-top: 0px;
        }

        p{
            margin-top: 10px;
        }

    }
}