@import url("../../index.scss");
@import "../../typography.scss";

.summary-header {
  @extend .typography.text-heading-l;
  font-size: 2.25rem;
}
.date-field-container {
  display: grid;
  grid-template-columns: 20rem 20rem;
  grid-gap: 1.5rem;
  width: 70%;
  padding-top: 0.3rem;
  margin-top: 0rem;
}
.date-field {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
}
.campaign-type {
  margin-right: 5rem;
  padding-bottom: 1.2rem;
  font-weight: bold;
}
.name-container {
  margin-right: 4rem;
  font-weight: bold;
  text-wrap: nowrap;
}
.beneficiary-type {
  margin-right: 5.4rem;
  font-weight: bold;
}
.campaign-dates {
  display: flex;
  font-weight: bold;
}
.mandatory-date {
  margin-top: 0.8rem;
  margin-left: 0.5rem;
  color: red !important;
  font-size: 1rem;
  font-weight: 700;
}
.description-type {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.name-description {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.dates-description {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1.2rem;
}
.selecting-boundary-div {
  padding-top: 0.5rem;
  .label-field-pair {
    margin-bottom: 1.5rem;
  }
}
.campaign-table {
  border-collapse: collapse;
  border-color: transparent;
  border-width: 0rem 1.5rem;
  tbody {
    tr:hover {
      background: rgba(#f47738, 0.12);
    }
  }
}
.info-points {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.infoClass{
  margin-bottom: 1.5rem
}
.headerWrapperClassName{
  display: none
}
.popup-close-svg{
  display: none;
}
.whoLogo{
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.digit-popup-wrapper{
  &.popUpClass{
    width:45rem;

    .popUpFooter{
      .digit-popup-footer-buttons{
        margin-left: 0px;
        width: 100%;

        button{
          flex:1;
        }
      }
    }
  }
}
