@import "./campaignCycle.scss";

.campaign-cycle-container {
  .popup-header-fix {
    margin-top: 1.5rem !important;
  }
}

.tag.inbox-tag {
  max-width: fit-content;
  background-color: #d6d5d4;
  border-radius: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  height: 2rem;
  margin-bottom: 0.7rem;
  grid-gap: 0.2rem;
  gap: 0.2rem;
}
.mandatory-span {
  margin-left: 0.5rem;
  color: red !important;
  font-size: 1rem;
  font-weight: 700;
}

.digit-employee-card-input.numeric {
  margin-bottom: unset;
}

.actionBarClass {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.previous-button {
  margin-left: 4rem;
  min-width: 12.5rem;
}
.info-text {
  padding-bottom: 2rem;
}

.view-composer-header-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.card-with-background {
  margin-top: 1rem;
  .card-head {
    margin-bottom: 1rem;
    color: #505a5f;
  }
}
.no-data-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  .error-msg {
    margin-top: 1rem;
  }
}
.search-tab-head {
  color: #505a5f;
}
.search-tabs-container {
  border-bottom: none;
}
.delivery-preview-card {
  background-color: #fafafa;
  border: 1px solid #d6d5d4;
  width: 70%;
  .custom-table-label {
    font-size: 1.5rem;
    font-weight: 700;
    color: #505a5f;
    margin-bottom: 1rem;
  }
  .campaign-attribute-table {
    margin-bottom: 1rem;
    table {
      background-color: #fafafa;
      border: 1px solid #d6d5d4;
      border-collapse: collapse;
      border-radius: 1rem;
      th {
        border: 1px solid #d6d5d4;
      }
      td {
        padding: 1rem;
        border: 1px solid #d6d5d4;
      }
    }
  }
  .campaign-product-table {
    margin-bottom: 1rem;
    table {
      background-color: #fafafa;
      border: 1px solid #d6d5d4;
      border-collapse: collapse;
      border-radius: 1rem;
      tbody {
        background-color: #fff;
      }
      th {
        border: 1px solid #d6d5d4;
      }
      td {
        padding: 1rem;
        border: 1px solid #d6d5d4;
      }
    }
  }
}
.cycle-paragraph {
  font-weight: 700;
  font-size: 24px;
  color: #505a5f;
  margin-top: 0.5rem;
  font-style: italic;
}
.header-end {
  margin-right: 1rem;
}
.digit-stepper-container {
  margin-bottom: 1.5rem;
}
.employee-app-wrapper {
  margin: 0rem 2rem;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 5px;
  top: 20%;
  transform: translateY(-50%);
}
.campaign-preview-edit-container {
  display: flex;
  gap: 1rem;
  span {
    color: #f47738;
  }
}
.campaign-attribute-table {
  tbody {
    tr:nth-child(odd) {
      background-color: white;
    }
  }
}

.popup-wrap.campaign-data-preview {
  flex-direction: column;
}

.digit-employee-card-input.numeric {
  pointer-events: none;
}
.product-tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.workbench-download-template-btn {
  font-weight: 700;
}
.digit-employee-card-input.numeric {
  text-align: center;
}
.in-between {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  @media screen and (min-width: 1024px) {
    grid-gap: 10rem;
  }
}
.setup-campaign {
  .digit-dropdown-options-card {
    max-height: 10rem !important;
  }
}
.campaign-summary-container {
  .row {
    h2 {
      margin: 0;
    }
    .value {
      p {
        margin: 0;
      }
    }
  }
}
.view-composer-header-section{
  .employee-card-sub-header {
    margin-bottom: 1.5rem;
  }
}