* @kavi-egov @sathishp-eGov
.github/  @kavi-egov @jagankumar-egov
build/  @kavi-egov

health-services/project-factory/  @jagankumar-egov
health-services/excel-ingestion/  @jagankumar-egov
health-services/boundary-management/  @jagankumar-egov
