@import url("../../index.scss");

.ingestion-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #f9fafc;
  color: #1b1b1b;
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  width: 500px;
  height: 400px;
}

.drop-area.active {
  border: 2px dashed #f47738;
}

.upload-file-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  background-color: transparent;
  margin-top: 20px;
  color: #f47738;
}

.drag-drop-tag {
  font-size: 20px;
}

.remove-button {
  font-size: 20px;
  padding: 8px;
  outline: #f37f12;
  background-color: #f9fafc;
  color: #f47738;
}

.override-card {
  margin-left: 0px !important;
}

.table {
  @apply bg-white w-full;

  border-radius: 4px 4px 0 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  border-inline-width: 24px;
  border-inline-color: white;

  thead {
    th {
      padding: 20px 18px;
      @apply font-bold align-middle text-left;
      &:first-child {
        min-width: 256px;
      }
    }
  }

  tbody {
    border: none;
    padding: 0;
    margin: 0;
    td {
      @apply border-border text-left align-middle;
      padding: "20px 18px";
    }
  }
}

.sub-work-table {
  justify-content: center;
  padding: 0;
  border-collapse: collapse;
  border: 1px solid #ddd;

  td,
  th {
    color: #0b0c0c;
    border: 1px solid #ddd;
    padding: 12px;
  }

  .remove-button {
    font-size: 20px;
    padding: 8px;
    outline: #f37f12;
    background-color: #f9fafc;
    color: #f47738;
  }

  .action-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .action-bar-button {
      margin-right: 0.5em;
    }
  }

  th {
    padding: 10px;
    text-align: center;
    background-color: #efefef;
    color: #0b0c0c;
  }

  tr {
    td {
      span:hover {
        cursor: pointer;
      }
    }
  }
}

.reports-table {
  margin-top: 2rem;
  thead {
    th {
      &:first-child {
        min-width: unset;
      }
    }
  }
}

.h1 {
  &.works-header-search {
    font-size: 36px;
  }

  &.works-header-create {
    font-size: 36px;
  }

  &.works-header-view {
    font-size: 36px;
  }
}

.download-button {
  display: flex;
  justify-content: flex-end !important;
  margin: 20px;
}

.master-container {
  display: flex;
  grid-gap: 1rem;
  .custom-master {
    cursor: pointer;
    width: 6.25rem;
    height: 6.25rem;
    display: flex;
    a {
      color: theme(colors.text.primary);
      text-decoration: none;
    }
    .master-icon {
      text-align: center;
    }
    &:hover {
      background-color: theme(digitv2.lightTheme.primary-bg); /* Change this to the desired hover color */
    }
  }
}

.help-screen-container {
  .help-screen-body {
    a {
      cursor: pointer;
      color: theme(digitv2.lightTheme.primary);
      text-decoration: none;
    }
  }
}


.card-details {
  background-color:#fafafa !important;
  position: relative;
  width: -webkit-fill-available;
}

.CloseButton {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.startNumber{
  padding-top: 25px;
  display: flex;
}
.endNumber{
  display: flex;
}
.start{
  min-width: fit-content;
  padding-right: 1.2rem;
}
.end{
  min-width: fit-content;
  padding-right: 1.55rem;
}
.workbench-add-row-detail-btn{
  margin-bottom: 15px
}

