@import url("../../index.scss");

.ingestion-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #f9fafc;
    color: #1b1b1b;
  }
  
  .drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    width: 500px;
    height: 400px;
  }
  
  .drop-area.active {
    border: 2px dashed #f47738;
  }
  
  .upload-file-button {
    cursor: pointer;
    padding: 0.25rem;
    font-size: 1rem;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background-color: transparent;
    margin-top: 20px;
    color: #f47738;
  }
  
  .drag-drop-tag{
    font-size : 20px;
  }
  
  .remove-button{
    font-size : 20px;
    padding : 8px;
    outline: #f37f12;
    background-color: #f9fafc;
    color: #f47738;
  }