@import "../../typography.scss";

/* language selection issue*/
.customBtn-selected {
  background-color: theme(digitv2.lightTheme.primary);
}

/* login  screen  issue*/

.primary-label-btn {
  color: theme(digitv2.lightTheme.primary);
}

/* landing  screen  issue*/

.employeeCard {
  .complaint-links-container .header .logo {
    background-color: theme(digitv2.lightTheme.primary);
  }

  .complaint-links-container .body {
    &.link {
      color: theme(digitv2.lightTheme.primary);
    }
    .inbox-total {
      background-color: theme(digitv2.lightTheme.primary);
    }
  }
}

.employee .topbar .right .user-img-txt {
  background-color: theme(digitv2.lightTheme.primary);
}
/* button component   issue*/

.action-bar-wrap {
  .submit-bar {
    background-color: theme(digitv2.lightTheme.primary);
  }
}

.jk-digit-secondary-btn {
  color: theme(digitv2.lightTheme.primary);
  border-color: theme(digitv2.lightTheme.primary);

  svg {
    fill: theme(digitv2.lightTheme.primary);

    path {
      fill: theme(digitv2.lightTheme.primary);
    }
  }
}
.error-boundary .error-container button {
  background-color: theme(digitv2.lightTheme.primary);
}

/* inbox  screen  issue*/

.inbox-search-wrapper {
  .search-tabs-container .search-tab-head-selected {
    color: theme(digitv2.lightTheme.primary);
    border-color: theme(digitv2.lightTheme.primary);
  }
  .submit-bar {
    background-color: theme(digitv2.lightTheme.primary);
  }
  .search-component-table .link {
    color: theme(digitv2.lightTheme.primary);
  }
  .link-label {
    color: theme(digitv2.lightTheme.primary) !important;
  }
}
.drag-drop-container .drag-drop-text .browse-text {
  color: theme(digitv2.lightTheme.primary);
}
/* toast new componnet css added */

.toast-success {
  gap: 0.5rem;
  height: 3rem;
  padding: 0.75rem 0.5rem 0.75rem 0.75rem !important;
  background-color: theme(digitv2.alert.success);
  transition: bottom 0.5s ease;
  grid-gap: 0.5rem;
  &.error {
    background-color: theme(digitv2.alert.error) !important;
  }

  &.warning {
    background-color: #f19100;

    &.warning-buttons {
      @apply block;
    }
  }

  h2 {
    @apply text-left overflow-hidden whitespace-no-wrap flex-grow flex items-center h-6;
    letter-spacing: 0rem;
    color: theme(digitv2.lightTheme.paper);
    margin: 0rem;
    text-overflow: ellipsis;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.25rem;
    font-style: normal;
  }
  svg {
    @apply flex-shrink-0;
  }
}

@keyframes slideInFromBottom {
  from {
    bottom: -3rem;
  }
  to {
    bottom: 4rem;
  }
}

.toast-success.animate {
  animation: slideInFromBottom 0.5s ease forwards;
}

@media screen and (max-width: 768px) {
  .topbar {
    background: #0b4b66 !important;
    color: #fff;
  }
}
header {
  @extend .typography.text-heading-xl;
}
.digit-button-primary{
  background-color: theme(digitv2.lightTheme.primary) !important;
}
.digit-button-secondary{
  .icon-label-container{
    h2{
      color: theme(digitv2.lightTheme.primary) !important;
    }
  }
}

/*.digit-popup-wrap {
  background: rgba(0, 0, 0, 0.7);
  @apply flex  fixed w-full h-full overflow-auto top-0 left-0 min-h-screen;
  z-index: 10000;
  max-width: 100% !important;
  max-height: 100% !important;
}

@screen dt {
  .digit-popup-wrap {
    background: rgba(0, 0, 0, 0.7);
    @apply min-h-screen;
  }
}

.digit-popup-close-icon {
  @apply flex justify-end;
}*/

.employee{
  .digit-employeeSidebar{
    .sidebar{
      z-index:999
    }
  }
}