$box-shadow-color: #00000029;
$border-color: rgba(214, 213, 212, 1);
$primary-theme-color: #c84c0e;
$border-color: rgba(214, 213, 212, 1);

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 0.625rem;
    height: 0.625rem;
    border: none;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
    border: none;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(177, 180, 182, 1);
    border-radius: 0.625rem;
    border: 0.125rem solid #f0f0f0;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(177, 180, 182, 0.8);
  }
}

@mixin select-dropdown {
  background-color: rgb(0, 0, 0, 0);
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.help-label {
  color: $primary-theme-color;
}

.guideline-actionbar-content {
  display: flex;
  flex-direction: row;
  justify-content: end;

  .custom-button {
    min-width: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      width: fit-content !important;
    }

    .icon {
      margin: 0 0 0 1rem !important;
    }
  }

  .custom-button-left-icon {
    .icon {
      margin: 0 1rem 0 0 !important;
    }
  }
}

.navigator-componet-not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.api-data-loader {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.modal-header {
  padding-left: 1rem !important;
  margin-bottom: 0 !important;
  display: flex !important;
  flex-wrap: wrap !important;
  overflow: hidden !important;

  p {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.modal-body {
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;

  p {
    font-weight: 400;
    font-size: 1rem;
  }
}

.non-editable-component {
  pointer-events: none !important;
}

.button-type-1 {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0.625rem 0.5rem 0.625rem 0.5rem !important;
  margin: 0 !important;
  height: 2.5rem !important;

  p {
    font-weight: 600 !important;
    font-size: 1rem !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.button-type-2 {
  display: flex !important;
  justify-content: center !important;
  padding: 0.625rem 0.5rem 0.625rem 0.5rem !important;
  margin: 0 !important;
  align-items: center !important;
  height: 2.5rem !important;

  .icon {
    display: flex !important;
    align-items: center !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  p {
    font-weight: 500 !important;
    font-size: 1rem !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.microplan-close-button {
  margin: 0.5rem 0.5rem 0 0;
  align-self: flex-start;
  border: none;
  color: inherit;
  cursor: pointer;
  overflow: visible;
  background-color: #00000000;
}

.microplan-naming-conventions {
  display: flex;
  flex-direction: column;
  .microplan-naming-convention-instruction-list-container {
    margin-left: 0.3rem;
    display: flex;
    align-items: flex-start;

    .number {
      min-width: 1.2rem !important;
    }
  }
  .microplan-naming-convention-instruction-list {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
  }
  .microplan-naming-conventions-heading {
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    padding: 0;
    margin: 1rem 0 0 0;
  }
}

.upload-section {
  font-family: Roboto;

  .upload-component-wrapper {
    width: 100%;
    /*
        @media (min-width: 68.75rem) {
            padding-right: 4rem;
        }
        */
  }

  .upload {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1.25rem;
  }

  .upload-section-option {
    position: relative;
    right: -1.68rem;
    width: 12.7rem;
    min-height: 32rem;
    background-color: #ffffff;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    box-shadow: 0 0.063rem 0.125rem 0 $box-shadow-color;
  }

  .upload-section-options-active,
  .upload-section-options-inactive {
    min-height: 3.7rem;
    display: flex;
    align-items: center;
    border-bottom: 0.063rem $border-color solid;
    cursor: pointer;

    p {
      margin-left: 0.5rem;
      color: rgba(80, 90, 95, 1);
      font-weight: 400;
      font-size: 1rem;
    }

    .icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center !important;
      overflow: visible;
      padding: 0;
      margin-left: 0.625rem;
      width: 1.875rem;
      height: 2.188rem;
    }
    .end {
      position: absolute;
      right: 0.5rem;
      justify-self: end;
    }
  }

  .upload-section-options-active:first-child,
  .upload-section-options-inactive:first-child {
    border-top-left-radius: 0.5rem;
  }

  .upload-section-options-active {
    border-right: 0.3rem solid $primary-theme-color;
    background-color: rgba(244, 119, 56, 0.12);

    p {
      font-weight: 700;
    }
  }

  .upload-section-options-inactive {
    border-right: none;
    background-color: rgba(255, 255, 255, 1);
  }

  .upload-component {
    height: min-content;
    border-radius: 0.25rem;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    margin-right: 0.3rem;
    padding-bottom: 0.625rem;
  }

  .upload-component-active {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    .greyedout-name {
      color: rgba(177, 180, 182, 1);
      margin: 0 0.625rem;
      font-size: 1.25rem;
      padding-top: 0;
      font-weight: 500;
    }

    .h2-class {
      margin: 0;
      padding: 0;
      width: 90% !important;
      overflow: hidden;
      font-size: 2.5rem;
      font-weight: 700;
    }

    p {
      margin: 0.625rem 0;
      padding-top: 0.625rem;
      font-size: 1rem;
      margin-top: 0.625rem;
      font-weight: 400;
    }

    .heading {
      display: flex;
      justify-content: space-between;
      align-items: start;

      h2 {
        width: 90% !important;
      }

      .download-template-button {
        display: flex !important;
        padding-left: 0.625rem;
        justify-content: center !important;
        align-items: center !important;
        min-width: 13.5rem;
        height: 2.5rem;
        border: 0.063rem $primary-theme-color solid;
        background-color: #f1f1f100;
        &:hover {
          box-shadow: inset 0 -0.125rem 0 0 $primary-theme-color;
        }
        .icon {
          display: flex;
          align-items: center;
          margin: 0;
          padding: 0;
        }

        p {
          padding: 0;
          margin: 0;
          color: $primary-theme-color;
          font-weight: 600;
          font-size: 1rem;
        }
      }
    }
  }

  .upload-component-inactive {
    display: none;
  }

  .upload-option-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 0;
    flex-wrap: wrap;

    .upload-option-container-selected {
      border: 0.125rem $primary-theme-color solid;
      color: $primary-theme-color;
    }
  }

  .upload-option {
    border-radius: 0.25rem;
    border: 0.0625rem rgba(214, 213, 212, 1) solid;
    min-width: 12.5rem;
    min-height: 8.75rem;
    box-shadow: 0 0.0625rem rgba(0, 0, 0, 0.16);
    padding: 0.625rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0 1.25rem;
    cursor: pointer;

    p {
      margin-top: 0.625rem;
      font-weight: 600;
      color: rgba(80, 90, 95, 1);
    }

    .label:hover {
      color: $primary-theme-color;
    }

    &:hover {
      outline: 0.125rem $primary-theme-color solid;
    }

    .upload-option-selected {
      border: 0.125rem $primary-theme-color solid;
      color: $primary-theme-color;
    }

    .select-button {
      justify-self: end;
      border: 0.063rem solid $primary-theme-color;
      background-color: rgba(255, 255, 255, 1);
      width: 11rem;
      height: 2.5rem;
      justify-content: center;
      color: $primary-theme-color;
      font-size: 1rem;
      font-weight: 600;

      &:hover {
        box-shadow: inset 0 -0.125rem 0 0 $primary-theme-color;
      }
    }

    .selected-button {
      display: flex;
      flex-direction: row;
      align-items: center !important;
      justify-self: end;
      justify-content: center;
      border: 0.063rem solid $primary-theme-color;
      background-color: $primary-theme-color;
      width: 11rem;
      height: 2.5rem;
      padding: 0.6rem 0.5rem;
      color: rgb(255, 255, 255);
      font-size: 1rem;
      font-weight: 600;
    }
  }

  .upload-file {
    min-height: 10rem;
    padding-top: 0.625;
    border: 0.063rem $border-color;
    margin: 1rem 0;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    background-color: rgba(250, 250, 250, 255);
    border: 0.063rem dotted rgba(214, 213, 212, 1);

    .browse-text-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: fit-content;
      margin: 0;
      padding: 0;

      .browse-text {
        margin: 0;
        padding: 0;
        color: $primary-theme-color;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .flex {
      display: flex;
    }
  }

  .uploaded-file {
    border: 0.063rem solid $border-color;
    min-height: 4.75rem;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    padding: 0 0.625rem;
    flex-wrap: wrap !important;

    .uploaded-file-details {
      display: flex !important;
      flex-direction: row;
      align-items: center !important;
      flex-wrap: wrap;
      padding: 1rem 0;

      p {
        padding: 0;
        margin: 0;
        height: min-content;
        font-weight: 700;
        font-size: 1.5rem;
        color: rgba(80, 90, 95, 1);
        text-align: start;
      }
    }

    .uploaded-file-operations {
      display: flex !important;
      align-items: center;
      justify-items: end;
      flex-wrap: wrap;

      .button {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        min-width: 9rem;
        height: 2.5rem;
        border: 0.063rem $primary-theme-color solid;
        background-color: white;
        cursor: pointer;
        &:hover {
          box-shadow: inset 0 -0.125rem 0 0 $primary-theme-color;
        }
      }

      p {
        padding: 0;
        margin: 0;
        margin-left: 0.5rem;
        color: $primary-theme-color;
        font-weight: 600;
        font-size: 1rem;
      }

      .delete-button {
        background-color: rgb(255, 255, 255, 0);
        border: none;
        display: flex !important;
        flex-direction: row;
        align-items: center !important;
        justify-content: center;
        margin: 0 1rem;
        cursor: pointer;
      }
    }
  }

  .message {
    margin-right: 0.6px;
  }

  .download-template-button {
    display: flex !important;
    justify-content: center;
    padding: 0;
    margin: 0;
    &:hover {
      box-shadow: inset 0 -0.125rem 0 0 $primary-theme-color;
    }
    .icon {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
    }

    p {
      font-weight: 500;
      font-size: 1rem;
      margin: 0;
      padding: 0;
    }
  }

  .file-upload-error-container {
    display: flex;
    flex-direction: column;
    .link-wrapper {
      padding-top: 1rem;
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;

      .link {
        color: $primary-theme-color !important;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    p {
      padding: 0;
      margin: 0;
    }
  }

  .spatial-data-property-mapping {
    width: calc(100%-2rem);
    padding: 1rem;
    max-height: 30rem;
    padding-top: 0;
    margin: 1rem;
    border: 0.063rem rgba(0, 0, 0, 0.16) solid;
    box-shadow: 0rem 0.063rem 0.125rem 0rem rgba(0, 0, 0, 0.16);
    border-radius: 0.25rem;
    background-color: rgba(250, 250, 250) !important;
    display: block;
    overflow: auto;
    padding-bottom: 0;
    position: relative;

    @include select-dropdown;

    table {
      background-color: rgb(0, 0, 0, 0) !important;
      width: 100%;
      border-collapse: collapse;

      .select-dropdown {
        background-color: rgb(0, 0, 0, 0);
        font-family: Roboto;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
      }

      thead {
        position: sticky !important;
        z-index: 100;
        top: 0;
        background-color: rgba(250, 250, 250);
        padding: 0;
      }

      th {
        width: 50%;
        font-weight: 700;
        font-size: 1rem;
        padding: 1.5rem;
        margin: 0;
        text-align: left;
        border-bottom: 0.063rem solid rgba(214, 213, 212, 1);
      }

      td {
        width: 50%;
        font-weight: 400;
        font-size: 1rem;
        padding: 1.5rem;
        margin: 0;
        border-top: 0 !important;
        border-bottom: 0.063rem solid rgba(214, 213, 212, 1);

        p {
          max-width: 20.594rem;
          font-weight: 700;
          font-size: 1rem;
          text-wrap: wrap;
          overflow: hidden;
        }
      }
    }

    .pagination {
      position: sticky;
      bottom: 0;
      left: 0;
      background-color: rgba(250, 250, 250, 255);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      padding: 1rem 0;
      padding-right: 2rem;
      z-index: 10;
      background-color: rgba(250, 250, 250);
    }

    @include custom-scrollbar;

    &::-webkit-scrollbar-track {
      background-color: rgb(0, 0, 0, 0);
    }
  }

  .popup-wrap {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .preview-data {
    margin: 0 2.5rem;
    width: calc(100% - 5rem);
    border-radius: 0.25rem;

    .operational-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .excel-wrapper {
      width: 100%;
      padding: 1rem 0.5rem 0 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background-color: white !important;
      border: 0.063rem rgba(0, 0, 0, 0.16) solid !important;
      border-radius: 0.25rem;

      .error-user-directions {
        margin: 0rem 0.5rem;
        padding: 0;
        color: $primary-theme-color;
      }

      .sheet-wrapper {
        height: 76vh;
        overflow: auto;
        background-color: white;
        padding: 0.3rem;

        @include custom-scrollbar;

        h3 {
          background-color: #f4f4f4;
          padding: 0.625rem;
          margin: 0;
        }

        .excel-table {
          width: 100%;
          border: 0.063rem solid #ccc;
          border-collapse: collapse;

          th,
          td {
            min-width: 7.578rem;
            border: 0.063rem solid #ccc;
            padding: 8px;
            font-family: Arial, sans-serif;
            font-size: 0.875rem;
            height: 100%;
            outline-offset: -0.07rem;
            box-sizing: border-box;
            position: relative;

            .edited-row-marker {
              width: 0.313rem;
              position: absolute;
              top: -0.045rem;
              left: -0.313rem;
              padding: 0;
              margin: 0;
              height: calc(100% + 0.09rem);
              border-top-left-radius: 0.125rem;
              border-bottom-left-radius: 0.125rem;
              background-color: $primary-theme-color !important;
            }
          }

          th {
            background-color: #f4f4f4;
            font-weight: bold;
            text-align: left;
            vertical-align: top;
          }
        }
      }

      .excel-tab-list {
        padding: 0.3rem;
        display: flex;
        margin-bottom: 0.625rem;

        .tab {
          padding: 0.625rem;
          margin-right: 0.313rem;
          cursor: pointer;
          outline: none !important;
          background-color: #f1f1f1;
        }

        .tab.active {
          outline: none !important;
          border: 0.25rem solid;
          border-color: #000000 !important;
        }
      }
    }
  }

  .information-description {
    p {
      display: flex;
      flex-direction: row;
      color: rgba(80, 90, 95, 1);
      font-family: Roboto;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.172rem;
      text-align: left;
    }

    .link-wrapper {
      padding-top: 1rem;
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;

      .link {
        color: rgba(52, 152, 219, 1) !important;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .guidelines {
    padding: 0.8rem 2rem 0 2rem;

    .sub-heading {
      font-family: Roboto;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.7rem;
      text-align: left;
      padding: 0;
      margin: 0;
    }

    .padtop {
      margin-top: 1rem;
    }

    .instruction-list {
      font-family: Roboto;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
      padding: 0;
      margin: 0;
      line-height: 1.5rem;

      .link {
        text-decoration: underline;
        color: $primary-theme-color;
      }
    }

    .instruction-list-container {
      margin-left: 0.3rem;
      display: flex;
      align-items: flex-start;

      .number {
        min-width: 1.2rem !important;
      }
    }

    .flex {
      display: flex;
    }
  }

  .upload-guidelines-header {
    width: 100%;
    font-size: 2.5rem;
    padding-left: 2rem;
  }
}

.hypothesis-section {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  margin-top: 1.3rem;
  height: 33.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.063rem 0.125rem 0 rgba(0, 0, 0, 0.16);

  input[type="number"]:focus,
  input[type="number"]:hover {
    border: 0.063rem solid $primary-theme-color;
    outline: none;
  }

  .heading {
    padding: 0 0 0.5rem 0;
    margin: 0;
    font-family: Roboto Condensed;
    font-size: 2.5rem;
    font-weight: 700;
    color: rgba(11, 12, 12, 1);
  }

  .instruction {
    margin: 0.8rem 0 1.2rem 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
  }

  .user-input-section {
    display: block;
    overflow-y: scroll;
    height: 21rem;
    position: relative;

    @include custom-scrollbar;

    .example {
      border: 0.063rem solid rgba(214, 213, 212, 1);
      background-color: rgb(250, 250, 250);
      padding: 1rem 1rem;
      border-radius: 0.25rem;
      max-width: 50rem;
      overflow: hidden;

      @media (max-width: 104rem) {
        max-width: 46.5rem;
      }

      @media (max-width: 80rem) {
        max-width: 46.55rem;
      }

      .heading {
        padding: 0.2rem 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
      }

      .example-body {
        display: flex;
        flex-wrap: wrap;
        opacity: 0.6;

        p {
          font-weight: 400;
        }
      }

      .key {
        width: 22rem;

        @media (max-width: 48rem) {
          width: 60%;
        }
      }

      .value {
        margin-left: 9%;

        @media (max-width: 104rem) {
          margin-left: 7%;
        }

        .heading {
          display: flex;
          text-wrap: wrap;
        }

        input {
          width: 7.5rem;
        }

        @media (min-width: 60rem) {
          width: fit-content;
        }

        @media (max-width: 48rem) {
          margin-left: 1rem;
        }
      }
    }

    .heading {
      padding: 0.1rem 0;
      margin: 0;
      font-family: Roboto;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
    }

    .interactable-section {
      padding-top: 1.5rem;
      width: 41.5rem;
      display: flex;
      flex-wrap: wrap;
      position: relative;

      @media (max-width: 48rem) {
        width: 95%;
      }

      .heading {
        padding: 0;
        font-weight: 700;
      }

      .select-and-input-wrapper {
        margin-top: 1.5rem !important;
      }

      .select-and-input-wrapper:first-child {
        margin-top: 0.8rem !important;
      }
    }

    .key {
      width: 22.75rem;
      position: relative;

      @media (max-width: 48rem) {
        width: 60%;
      }

      .select-dropdown {
        @include select-dropdown;
      }
    }

    .value {
      margin-left: 10%;
      width: 7.5rem;

      @media (max-width: 48rem) {
        margin-left: 1rem;
      }
    }

    .select-and-input-wrapper {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
    }

    .select-and-input-wrapper-first {
      margin-top: 0;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
    }

    .headerbar {
      padding: 0;
      width: 100%;
      display: flex;
      align-items: center;
      margin: 0;
      position: sticky;
      top: 0;
      background-color: rgb(255, 255, 255);
      z-index: 100;
      padding-bottom: 0.8rem;
    }

    .invisible {
      visibility: hidden;
      pointer-events: none;
      padding: 0;
      margin: 0;
    }

    .input {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 100%;
      border: 0.063rem solid rgb(255, 255, 255);
      background-color: rgb(255, 255, 255, 0);
      padding: 0.5rem;
      font-weight: 400;
      line-height: 1.1rem;
      font-size: 1rem;
    }
  }

  .delete-button {
    max-width: 12.5rem;
    margin: 0 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 1);

    p {
      margin: 0;
      padding: 0 0 0 0.5rem;
      font-size: 1rem;
      font-weight: 600;
      color: $primary-theme-color;
      text-align: left;
    }
  }

  .add-button-help {
    margin-top: 1.5rem;
    max-width: 15.5rem;
  }

  .add-button {
    max-width: 12.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 1);
    border: 0.063rem solid $primary-theme-color;

    p {
      color: $primary-theme-color;
      padding: 0 0 0 0.6rem;
      margin: 0;
      font-size: 1.188rem;
      font-weight: 600;
      text-align: left;
    }
  }
}

.rule-engine-section {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;

  .rule-engine-body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    height: 33.5rem;
    box-shadow: 0 0.063rem 0.125rem 0 rgba(0, 0, 0, 0.16);
    border-radius: 0.25rem;

    .heading {
      padding: 0 0 0.5rem 0;
      margin: 0;
      font-family: Roboto Condensed;
      font-size: 2.5rem;
      font-weight: 700;
      color: rgba(11, 12, 12, 1);
    }

    .instruction {
      margin: 0.8rem 0 1.2rem 0;
      padding: 0;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
    }

    .user-input-section {
      display: block;
      overflow-y: scroll;
      padding-bottom: 1rem;
      height: 21rem;

      @include custom-scrollbar;

      .example {
        border: 0.063rem solid rgba(214, 213, 212, 1);
        background-color: rgb(250, 250, 250);
        padding: 1rem 0.7rem;
        overflow: hidden;
        width: 92.5%;

        @media (max-width: 48rem) {
          width: 95%;
        }

        .heading {
          padding: 0.2rem 0;
          margin: 0;
          font-size: 1rem;
          font-weight: 700;
          line-height: 18.75px;
        }

        .example-body {
          display: flex;
          flex-wrap: wrap;
          opacity: 0.6;

          p {
            font-weight: 400;
          }
        }

        .value-input-key {
          width: 22rem;
          overflow: hidden;

          @media (max-width: 48rem) {
            width: 60%;
          }
        }

        .select-dropdown {
          @include select-dropdown;
        }

        .operator {
          margin-left: 10%;
          overflow: hidden;
          width: 10rem;
          margin: 0 1rem;

          @media (max-width: 48rem) {
            margin-left: 1rem;
          }
        }
      }

      .heading {
        padding: 0.1rem 0;
        margin: 0;
        font-family: Roboto;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
      }

      .interactable-section {
        padding-top: 1.5rem;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 48rem) {
          width: 95%;
        }

        .heading {
          padding: 0;
          font-weight: 700;
        }
      }

      .value-input-key {
        width: 22.75rem;
        position: relative;

        @media (max-width: 48rem) {
          width: 60%;
        }
      }

      .operator {
        margin-left: 10%;
        position: relative;
        width: 11rem;
        margin: 0 1rem;

        @media (max-width: 48rem) {
          margin-left: 1rem;
        }
      }

      .select-dropdown {
        @include select-dropdown;
      }

      .equal-to-icon {
        margin: 0 3%;
        font-family: Roboto Condensed;
        font-size: 2.5rem;
        font-weight: 700;
      }

      .select-and-input-wrapper {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
      }

      .select-and-input-wrapper-first {
        margin-top: 0rem;
        width: 100%;
        display: flex;
        align-items: center;
      }

      .user-input-wrapper {
        width: 100%;
      }
    }

    .headerbar {
      padding: 0;
      width: 100%;
      display: flex;
      align-items: center;
      margin: 0;
      position: sticky;
      top: 0;
      background-color: rgb(255, 255, 255);
      z-index: 100;
    }

    .invisible {
      visibility: hidden;
      pointer-events: none;
      padding: 0;
      margin: 0;
    }

    .delete-button {
      max-width: 12.5rem;
      margin: 0 0 0 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 1);

      p {
        text-align: center;
        margin: 0;
        padding: 0 0 0 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        color: $primary-theme-color;
        text-align: left;
      }
    }

    .add-button-help {
      margin-top: 1.5rem;
      max-width: 15.5rem;
    }

    .add-button {
      max-width: 12.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center !important;
      background: rgba(255, 255, 255, 1);
      border: 0.063rem solid $primary-theme-color;

      p {
        color: $primary-theme-color;
        padding: 0 0 0 0.6rem;
        margin: 0;
        font-size: 1.188rem;
        font-weight: 600;
        text-align: center;
      }
    }
  }

  .information-description {
    p {
      display: flex;
      flex-direction: row;
      color: rgba(80, 90, 95, 1);
      font-family: Roboto;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
      margin: 0.5rem 0 0 0;
      padding: 0;
    }
  }
}

.create-microplan {
  .custom-action-bar,
  .custom-action-bar-no-first-button {
    height: 4rem;
    display: flex !important;
    justify-content: space-between;
    align-items: center !important;

    .custom-button {
      min-width: 12.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        width: fit-content !important;
      }

      .icon {
        margin: 0 0 0 1rem !important;
      }
    }

    .custom-button-left-icon {
      margin-left: 5.3rem;
      padding-left: 0.7rem !important;
      border-color: $primary-theme-color;
      &:hover {
        box-shadow: inset 0 -0.125rem 0 0 $primary-theme-color;
      }
      .icon {
        margin: 0 1rem 0 0 !important;
      }
    }

    .custom-button-right-icon {
      box-shadow: inset 0 0 0 0 black;
      padding-left: 0.39rem !important;
      padding-right: 0.355rem !important;

      &:hover {
        box-shadow: inset 0 -0.125rem 0 0 black;
      }
    }
  }

  .custom-action-bar-no-first-button {
    justify-content: end;
  }
}

.mapping-section {
  width: 100%;
  display: flex;
  flex-direction: column;

  .heading {
    width: 100%;
    margin: 1.5rem 0 1.5rem 0;
    padding: 0 0 0 1rem;
    font-family: Roboto Condensed;
    font-size: 2.5rem;
    font-weight: 700;
  }

  .mapping-body-container {
    display: flex;
    border: 0;
    box-shadow: none;
    margin: 1rem;

    .filter-container {
      padding: 1.5rem;
      box-shadow: 0px 0.063rem 0.125rem 0px rgba(0, 0, 0, 0.16);
      background: rgba(255, 255, 255, 1);
      max-width: 17.5rem;
      min-height: 34rem;
      margin-right: 1rem;

      p {
        font-family: Roboto;
        font-size: 1rem;
        font-weight: 400;
        padding: 0;
        margin: 0;
        overflow: hidden;
        text-wrap: wrap;
      }

      .filter-heading {
        font-family: Roboto;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0;
        margin: 0;
        overflow: hidden;
        text-wrap: wrap;
      }

      .instructions {
        margin: 1.5rem 0;
      }

      .dropdown {
        padding: 0.5rem 0 0 0;
        width: 100%;
      }

      .filter-controllers {
        display: flex !important;
        justify-content: space-between;
        padding: 1rem 0 0 0;

        .button-primary,
        .button-secondary {
          font-family: Roboto;
          font-size: 1.188rem;
          font-weight: 600;
          max-width: 6.75rem;
          min-height: 2.5rem;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .map-container {
      width: 100%;
      min-height: 34rem;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 0.063rem 0.125rem 0px rgba(0, 0, 0, 0.16);
      display: flex;
      flex-direction: row;
      position: relative;
      margin: 0;
      padding: 1rem 0 0 0;

      #map,
      .map {
        height: 100%;
        z-index: 20;
        border-radius: 0.25rem;
      }

      .height-control {
        max-height: 10rem !important;
      }

      .filter-by-boundary {
        position: absolute;
        top: 1rem;
        left: 0rem;
        padding: 1rem;
        z-index: 550;
        height: 100%;
        max-height: 32rem;
        background-color: rbg(0, 0, 0, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: visible;

        .button-primary {
          padding-left: 0;
          padding-right: 0;

          div {
            align-items: center;
            justify-content: center !important;
            width: 13.938rem;

            h2 {
              width: fit-content;
            }
          }
        }

        .display-none {
          display: none !important;
        }

        .boundary-selection {
          display: block;
          min-width: 16.5rem;
          margin: 0.5rem 0 0 0 !important;
          padding: 1rem 0.7rem 1rem 1rem;
          background: rgba(255, 255, 255, 1) !important;
          box-shadow: 0 0.063rem 0.25rem 0 rgba(0, 0, 0, 0.16);
          position: relative;
          overflow: visible;

          .digit-multiselectdropdown-label {
            p {
              color: rgba(177, 180, 182, 1);
            }
          }

          .header-section {
            display: flex !important;
            align-items: center;
            gap: 0.5rem;
            padding: 0;
          }

          .hierarchy-selection-container {
            position: relative;
            overflow-x: hidden;
            overflow-y: scroll;
            max-height: 24rem;
            display: flex;
            flex-direction: column;

            @include custom-scrollbar;

            .hierarchy-selection-element {
              position: relative;
              padding-top: 1rem;
              padding-right: 0.3rem;
            }
          }
        }
      }

      .bottom-left-map-subcomponents {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        z-index: 500;

        .custom-scale {
          width: 7.5rem;
          margin-left: 0.5rem;
          text-align: center;
          border-bottom: 0.063rem solid #ccc;
          padding: 0 0;
          color: #ffffff;
          font-family: Roboto;
          font-size: 0.75rem;
          font-weight: 400;
          position: relative;

          .border-spikes {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 20%;
            border-left: 0.063rem solid #ccc;
            border-right: 0.063rem solid #ccc;
          }
        }
      }

      .zoom-container {
        width: fit-content;

        .zoom-control {
          display: flex !important;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1.3rem;
        }

        .zoom-button {
          border: 0.125rem solid rgba(214, 213, 212, 1);
          border-radius: 0.063rem;
          width: 2rem;
          height: 2rem;
          text-align: center;
          color: $primary-theme-color;
          background-color: rgb(255, 255, 255);
          cursor: pointer;
          font-family: Roboto;
          font-size: 1.125rem;
          font-weight: 700;
          box-shadow: 0 0.063rem 0.125rem 0 rgba(0, 0, 0, 0.16);
        }
      }

      .north-arrow {
        margin-left: 0.5rem;
      }

      .bottom-right-map-subcomponents {
        position: absolute;
        bottom: 2rem;
        right: 1rem;
        z-index: 500;
        display: flex !important;
        flex-direction: column;
        align-items: end;
        gap: 1rem;

        @media (max-width: 62.188rem) {
          bottom: 3rem;
        }

        .filter-index {
          background-color: rgba(255, 255, 255, 1);
          border: 0.063rem solid rgba(214, 213, 212, 1);
          border-radius: 0.25rem;
          padding: 0.7rem;
          padding-top: 0.3rem;
          width: 8.5rem;
          max-height: 8.5rem;
          overflow-y: auto;

          @include custom-scrollbar;

          .filter-row {
            display: flex !important;
            flex-direction: row;
            align-items: center;
            width: 6.813rem;
            min-height: 1.5rem;
            padding-top: 0.4rem;

            p {
              margin: 0 0 0 0.4rem;
              padding: 0;
              font-family: Roboto;
              font-size: 0.75rem;
              font-weight: 400;
              text-align: left;
              text-wrap: wrap;
            }
          }
        }

        .choropleth-index {
          width: 20.292rem;
          /*height: 4.438rem;*/

          @media (max-width: 20.292rem) {
            width: 50%;
          }

          border-radius: 0.25rem;
          background-color: rgba(250, 250, 250, 1);
          padding: 0.8rem;

          p {
            font-family: Roboto;
            font-size: 1rem;
            font-weight: 700;
            text-align: left;
            padding: unset;
            margin: unset;
          }

          .label {
            width: 100%;
            padding-top: 0.3rem;
            text-align: center;
          }

          .gradient-wrapper {
            width: 100%;
            display: flex !important;
            justify-content: center;
            align-items: center;

            p {
              padding: 0 0.5rem;
            }

            .gradient {
              width: 80%;
              height: 0.875rem;
            }
          }
        }
      }

      .top-right-map-subcomponents {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 500;
        flex-direction: column;
        align-items: flex-end !important;
      }

      .icon-rest {
        display: flex !important;
        margin-top: 1.5rem !important;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;

        p {
          margin: 0;
          padding: 0;
          font-family: Roboto;
          font-size: 1rem;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
        }

        .icon {
          margin-left: 0.3rem;
          height: 1.667rem;
        }
      }

      .filter-section,
      .choropleth-section {
        width: 14.438rem;

        .filter-section-option-wrapper,
        .choropleth-section-option-wrapper {
          position: absolute;
          max-height: 12.19rem;
          width: 14.438rem;

          .custom-box-wrapper {
            display: block;
            max-height: 9.752rem;
            overflow-x: auto;
            background-color: rgba(255, 255, 255, 1);

            @include custom-scrollbar;

            .custom-box {
              padding: 0.7rem;
              border-bottom: 0.063rem solid rgba(214, 213, 212, 1);

              .mainClassName {
                margin-bottom: 0;
                display: flex;
                align-items: center;
              }

              .inputWrapperClassName {
                margin: 0;
                padding: 0;
              }

              .labelClassName {
                margin: 0;
                margin-right: auto;
              }

              input:checked ~ .inputIconClassname {
                border-color: $primary-theme-color;
              }

              .inputIconClassname {
                margin: 0;
              }

              .inputClassName {
                margin: 0;
              }
            }
          }
        }
      }

      .base-map-selector {
        display: flex !important;
        flex-direction: column;
        align-items: flex-end !important;
        position: relative;
        border-radius: 0.25rem;

        .icon-first {
          display: flex !important;
          align-items: center;
          margin-top: 0;
          cursor: pointer;
          box-shadow: none;

          p {
            margin: 0;
            padding: 0;
            font-family: Roboto;
            font-size: 1rem;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
          }

          .icon {
            margin-left: 0.3rem;
            height: 1.667rem;
          }
        }

        .base-map-area-wrapper {
          position: absolute;
          top: 2rem;
          max-width: 27.5rem;
          max-height: 9rem;
          display: block;
          overflow-x: auto;

          @include custom-scrollbar;
        }

        .base-map-area {
          background-color: rgba(255, 255, 255, 1);
          display: flex !important;
          width: fit-content;
          white-space: nowrap;

          .base-map-entity {
            display: flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 5.927rem !important;
            margin: 0.5rem;

            .base-map-img {
              width: 5.927rem;
              height: 5.839rem;
              border: 0.063rem solid rgb(0, 0, 0, 0.1);
            }

            p {
              position: relative;
              margin-left: auto;
              margin-right: auto;
              font-family: Roboto;
              font-size: 0.75rem;
              font-weight: 400;
              line-height: 0.875rem;
              color: black;
              padding: 0;
              margin: 0.4rem 0 0 0;
            }
          }

          .selected {
            background-color: rgba(255, 255, 255, 1);

            .base-map-img {
              border: 0.125rem solid $primary-theme-color !important;
            }

            p {
              color: $primary-theme-color !important;
            }
          }
        }
      }
    }
  }
}

.microplan-preview-section {
  width: 100%;
  display: flex;
  flex-direction: column;

  .top-section {
    margin: 1.5rem 0 0 0;

    .campaign-name {
      font-family: Roboto;
      font-size: 20px;
      font-style: italic;
      font-weight: 500;
      line-height: 23.44px;
      text-align: left;
      color: rgba(80, 90, 95, 1);
      margin: 0;
      padding: 0;
    }

    .heading {
      width: 100%;
      margin: 0.5rem 0 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: Roboto Condensed;
      font-size: 2.5rem;
      font-weight: 700;
      text-align: left;
      line-height: 2.5rem;
      padding: 0;
      margin: 0;
    }

    .user-name {
      font-family: Roboto;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-align: left;
      color: rgba(80, 90, 95, 1);
      padding: 0;
      margin: 0;
    }
  }

  .aggregates {
    width: 100%;
    background-color: rgb(255, 255, 255, 1);
    display: flex;
    align-items: center;
    padding: 2.3rem;
    justify-content: space-between;

    .aggregate-value {
      font-family: Roboto;
      font-size: 1.75rem;
      font-weight: 700;
      line-height: 2.051rem;
      text-align: center;
      color: rgba(11, 12, 12, 1);
      padding: 0;
      margin: 0;
    }

    .aggregate-label {
      font-family: Roboto;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-align: center;
      color: rgba(80, 90, 95, 1);
      padding: 0;
      margin: 0 0 0 0;
    }
  }

  .boundary-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;

    .digit-multiselectdropdown-master {
      background-color: rgb(255, 255, 255, 0) !important;
    }

    .digit-multiselectdropdown-label {
      p {
        color: rgba(177, 180, 182, 1);
      }
    }

    .hierarchy-selection-element {
      position: relative;

      .header {
        font-family: Roboto;
        font-size: 1rem;
        font-weight: 400;
        padding: 0 0 0.3rem 0;
        margin: 0;
      }

      width: 19.75rem;
      padding-right: 1rem;
    }
  }

  .microplan-preview-body {
    width: 100%;
    display: flex;
    margin-top: 1.2rem;

    .hypothesis-container {
      padding: 1.5rem 0 1.5rem 0;
      box-shadow: 0px 0.063rem 0.125rem 0px rgba(0, 0, 0, 0.16);
      background: rgba(255, 255, 255, 1);
      max-width: 17.5rem;
      max-height: 34rem;
      margin-right: 1rem;

      p {
        font-family: Roboto;
        font-size: 1rem;
        font-weight: 400;
        padding: 0;
        margin: 0;
        overflow: hidden;
        height: fit-content;
        text-wrap: wrap;
      }

      .hypothesis-heading {
        font-family: Roboto;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0;
        overflow: hidden;
        text-wrap: wrap;
        margin: 0 1.5rem 0 1.5rem;
      }

      .instructions {
        margin: 1.5rem;
      }

      .hypothesis-list-entity {
        margin: 0 0 1.5rem 0;
      }

      .input {
        padding: 0.3rem 0 0 0;
        width: 100%;
      }

      .hypothesis-list-wrapper {
        align-self: flex-end;
      }

      .hypothesis-list {
        overflow-y: auto;
        max-height: 17rem;
        @include custom-scrollbar;
        padding-right: 0.4rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        h3 {
          background-color: #f4f4f4;
          padding: 0.625rem;
          margin: 0;
        }
      }
      .scrollable {
        padding-right: 0.8rem;
        margin-right: 0.2rem;
      }

      .hypothesis-controllers {
        display: flex !important;
        justify-content: space-between;
        padding: 1rem 0 0 0;
        width: 100%;

        .button-primary {
          font-family: Roboto;
          font-size: 1.188rem;
          font-weight: 600;
          width: 100%;
          min-height: 2.5rem;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0.5rem 1.5rem 0 1.5rem;
        }
      }
    }

    .preview-container {
      flex-grow: 1;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 0.063rem 0.125rem 0px rgba(0, 0, 0, 0.16);
      position: relative;
      width: 100%;
      overflow: auto;
      border-radius: 0.25rem;

      width: 100%;
      overflow: auto;
      border-radius: 0.25rem;

      .excel-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: white !important;
        border: 0.063rem rgba(0, 0, 0, 0.16) solid !important;
        border-radius: 0.25rem;
        padding: 0.8rem 0.5rem 0.5rem 0.8rem;
        padding: 0.8rem 0.5rem 0.8rem 0.8rem;

        .sheet-wrapper {
          overflow: auto;
          height: 33rem;
          background-color: white;
          padding: 0.3rem;

          @include custom-scrollbar;

          h3 {
            background-color: #f4f4f4;
            padding: 0.625rem;
            margin: 0;
          }

          .excel-table {
            width: 100%;
            border: 0.063rem solid #ccc;
            border-collapse: collapse;
            position: relative;

            tr:hover {
              width: 100%;
              outline: 0.1rem solid $primary-theme-color;

              td {
                border-top: 0.063rem solid rgba(244, 119, 56, 0);
                border-bottom: 0.063rem solid rgba(244, 119, 56, 0);
              }
            }

            .selected-row {
              width: 100%;
              height: 100%;
              background-color: rgb(244, 119, 56, 0.12) !important;
            }

            th,
            td {
              min-width: 7.578rem;
              border-left: 0.063rem solid rgba(214, 213, 212, 1);
              border-top: 0.063rem solid rgba(214, 213, 212, 1);
              border-bottom: 0;
              border-right: 0;
              padding: 0.5rem;
              font-family: Arial, sans-serif;
              font-size: 0.875rem;
              cursor: pointer;
              position: relative;

              .edited-row-marker {
                width: 0.313rem;
                position: absolute;
                top: -0.045rem;
                left: -0.313rem;
                padding: 0;
                margin: 0;
                height: calc(100% + 0.09rem);
                border-top-left-radius: 0.125rem;
                border-bottom-left-radius: 0.125rem;
                background-color: $primary-theme-color;
              }
            }

            th {
              background-color: #f4f4f4;
              font-weight: bold;
              text-align: left;
              vertical-align: top;
            }
          }
        }

        .edit-resource-data {
          padding: 0 0.7rem 0 1rem;
          width: 100%;
          max-height: 25.5rem;
          overflow: auto;

          @include custom-scrollbar;

          .edit-resource-data-table {
            width: 100% !important;
            background: rgb(255, 255, 255);

            thead {
              position: sticky !important;
              z-index: 100;
              top: 0;
              background-color: rgba(250, 250, 250);
              padding: 0;
            }

            th,
            td {
              p {
                display: flex !important;
                align-items: center;
                min-width: 7.578rem;
                height: 2.5rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                font-family: Roboto;
                margin: 0;
                font-size: 1rem;
                font-weight: 400;
                text-align: left;
                border: 0.063rem solid rgba(80, 90, 95, 1);
                color: rgba(80, 90, 95, 1);
                text-wrap: wrap;
              }

              background: rgb(255, 255, 255);
            }
            th {
              padding: 0 0 0.4rem 0 !important;
            }

            td {
              padding: 0.8rem 1.9rem 0.4rem 0;
            }

            .old-value {
              p {
                background-color: rgba(238, 238, 238, 1);
              }

              width: 35%;
            }

            .new-value {
              width: 35%;
            }

            .column-names {
              p {
                font-weight: 700;
                border: 0;
                padding-left: 0;
                color: rgba(11, 12, 12, 1);
              }

              width: 25%;
            }

            th {
              border: 0;
              padding: 0;
              font-family: Roboto;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.758rem;
              text-align: left;
              color: rgba(11, 12, 12, 1);
            }
          }
        }
      }

      .no-data-available-container {
        width: 100%;
        height: 100%;
        display: flex !important;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .digit-action-cancel {
    color: $primary-theme-color;
  }

  .apply-changes-hypothesis {
    padding: 1rem;
    padding-top: 0;

    .instructions {
      p {
        font-weight: 400;
        font-size: 1rem;
        padding: 0;
        margin: 0;
      }
    }

    .table-header {
      font-family: Roboto;
      font-size: 1rem;
      font-weight: 700;
      color: rgba(11, 12, 12, 1);
    }

    .table-container {
      max-height: 15rem;
      overflow-y: auto;
      @include custom-scrollbar;

      .custom-table {
        width: 100%;
        border-collapse: collapse;

        th {
          font-family: Roboto;
          font-size: 1rem;
          font-weight: 700;
        }

        th,
        td {
          overflow-wrap: normal;
          text-wrap: wrap;
          padding: 1rem 1.2rem;
          text-align: left;
          border: 0.063rem solid rgba(214, 213, 212, 1) !important;
        }

        .even-row {
          background-color: rgba(238, 238, 238, 1);
        }

        .odd-row {
          background-color: white;
        }
      }
    }
  }
}

.microplan-success-screen {
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 1);
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.custom-action-bar-success-screen {
  padding: 1.5rem 1.5rem 1.5rem 5.3rem;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center;
  height: 5.5rem;

  .custom-button {
    min-width: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      width: fit-content !important;
    }

    .icon {
      margin: 0 0 0 1rem !important;
    }
  }

  .custom-button-left-icon {
    margin-right: 1.2rem;

    .icon {
      margin: 0 1rem 0 0 !important;
    }
  }
}

.popup-wrap-focus {
  button:focus {
    outline: 0.125rem solid #000000 !important;
    border-color: rgba(255, 255, 255, 0) !important;
    outline-offset: -0.125rem !important;
  }
}
.popup-wrap-rest-unfocus {
}
.popup-wrap-rest-unfocus-active {
  button:focus {
    outline: none !important;
    outline-offset: -0.125rem !important;
  }
}

.guide-line-heading {
  font-family: Roboto Condensed;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
}

.map-pop-up {
  @include custom-scrollbar();
  background-color: white;
  margin: 1rem 0;
  width: 28rem;
  max-height: 23rem;
  overflow: auto;
}
